<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
</head>
<body>
	<div class="box" >
		<div class="container" style="width: 400px">
			<div class="dl" style="background-color:#ffbd52"><h2 style="margin-bottom: 0;">注 ✉ 册</h2></div>
			<div class="content" style="background-color:#d5ff61;height:205px;width:400px;float:left;">
                <form method="post">
                    {% csrf_token %}
                    <div class="xx">
                        <p> </p>
                        用户姓名：<input name="name" type="text" placeholder="请输入用户名"/><br>
                        输入密码：<input name="password" type="password" placeholder="请输入密码"/><br>
                        确认密码：<input name="password1" type="password" placeholder="请再次输入密码"/>
                        <p> </p>
                    </div>
                    <div id="error_box">{{ retext }}<br></div>
                    <p>  </p>
                    <div class="an" >
                        <input type="submit" value="注册">
                        <button type="button" onclick="myReturnlogin()">取消</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function myLogin() {
	        var oUname = document.getElementById("name");
	        var oError = document.getElementById("error_box");
	        var opassword = document.getElementById("password");
	        oError.innerHTML="<br>"
	        //name
	        if(oUname.value.length<6||oUname.value.length>20){
	                oError.innerText="☞用户名请输入6-20个字符";
	                return;
	            }
	            else if ((oUname.value.charCodeAt(0)>=48)&&oUname.value.charCodeAt(0)<=57){
	            oError.innerText="✘用户名首字母不能为数字";
	                return;
	        }
	        else for(var i=0; i<oUname.value.length; i++){
	                if((oUname.value.charCodeAt(i)<48)||(oUname.value.charCodeAt(i)>57) && (oUname.value.charCodeAt(0)<97) || (oUname.value.charCodeAt(0)>122)){
	                    oError.innerHTML="✘用户名只能是小写字母与数字";
	                    return;
	                }
	        }
	        //password
	        if(opassword.value.length<6||opassword.value.length>20){
	                oError.innerText="☛密码请输入6-20个字符内";
	                return;
	        }
	        else if (password.value!= password1.value) {
	       oError.innerHTML = "✘两次密码不一致"
	        return;
	    }
	    window.alert("✌注册成功！\\(^o^)/YES!")
	}

    function myReturnlogin() {
        window.location.href = "../log/";
    }
</script>
</html>